

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

h1{
    font-size: 2em;
    font-weight: 600;
    color: rgb(113, 113, 113);
}

input{
    border-radius: 20px;
    border-color: rgb(113, 113, 113);
    border-width: 1px;
    margin : 0.5%;
}