a,a:visited,a:hover{
    color: #323e4e;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    padding: 0 10px;
    transition: all 0.3s ease-in-out;
}

a:hover{
    text-shadow: 5px 2px 5px rgb(124, 124, 124);
    text-decoration: none;
}

button{
    color: #323e4e;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    padding: 0 10px;
    transition: all 0.3s ease-in-out;
    background: none;
    border: none;
}
button:hover{
    color: #323e4e;
    text-shadow: 5px 2px 5px rgb(124, 124, 124);
    text-decoration: none;
}
